<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Pump - Home</title>
    <link rel="icon" href="/src/assets/logo.png">
    <link href="/src/output.css" rel="stylesheet">
</head>
<body class="bg-gradient-to-b from-blue-600 to-blue-900 text-white min-h-screen flex flex-col">
    <!-- Navbar -->
    <nav class="bg-blue-800 shadow-md py-4">
        <div class="container mx-auto flex items-center justify-between px-6">
            <div class="flex items-center space-x-4">
                <a href="./home.html">
                    <img src="/src/assets/logo.png" alt="Smart Pump Logo" class="w-16 h-16">
                </a>
                <span class="text-md md:text-xl font-bold tracking-wide">
                    <a href="./home.html">Smart Pump</a>
                </span>
            </div>
            <!-- Navigation Links -->
            <ul class="flex space-x-8 text-sm md:text-base">
                <li><a id="nav-home" href="/src/views/nav/home.html" class="hover:underline">Home</a></li>
                <li><a id="nav-profile" href="/src/views/nav/profile.html" class="hover:underline">Profile</a></li>
                <li><a id="nav-logout" href="/src/views/welcome.html" class="hover:underline">Logout</a></li>
            </ul>
        </div>
    </nav>

    <!-- Main Content -->
    <main class="flex-grow container mx-auto px-4 py-8 flex flex-col items-center justify-center">
        <div class="bg-white text-gray-900 rounded-lg shadow-lg p-8 max-w-lg w-full text-center">
            <h1 class="text-3xl font-bold mb-4">Hello <span id="welcome"></span>!</h1>
            <div class="flex flex-col items-center space-y-4 mb-6">
                <div class="w-24 h-24 rounded-full overflow-hidden border-4 border-blue-600">
                    <img id="user-img" src="/src/assets/default.jpg" alt="Profile Image" class="w-full h-full object-cover">
                </div>
            </div>
            <div id="restringed" class="hidden">
                <p class="text-lg mb-4 ">
                    Current Balance: <span id="balance-span" class="font-bold"></span>
                </p>
                <form id="balance-form" class="space-y-6">

                    <div>
                        <!-- Error from back -->
                        <div id="error-div" class="text-center text-red-700 hidden">
                            <p class="font-bold" >Error: <span id="error-back" class="underline"></span></p>
                        </div>

                        <label for="balance" class="block text-md font-medium mb-1">Update your Balance</label>
                        <input 
                            type="number" 
                            id="balance" 
                            name="balance" 
                            class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-600"
                            placeholder="Enter your new balance" 
                            min="0" 
                            step="any" 
                            oninput="this.value = Math.abs(this.value)" 
                            required>
                        <p id="balance-error" class="text-gray-600 bg-red-200 border rounded-md text-center mt-1 hidden">Max number of 500,000.00</p>
                    </div>
                    
                    <div class="flex justify-center gap-4">
                        <button id="submit-balance" type="submit" class="bg-gray-100 text-blue-800 px-6 py-3 rounded-lg shadow-md transition" disabled>
                            Send
                        </button>
                        <button type="reset" class="bg-blue-600 text-white px-6 py-3 rounded-lg shadow-md hover:bg-blue-700 transition">
                            Reset
                        </button>
                    </div>
                </form>
            </div>
            <p class="text-lg mt-6">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut laboriosam culpa magnam numquam adipisci iure molestias atque ab quam eaque a, commodi illum unde iusto voluptatum asperiores ipsa corrupti eum!
            </p>
        </div>
    </main>

    <!-- Footer -->
    <footer class="bg-blue-800 py-4">
        <div class="container mx-auto text-center text-sm">
            <p>&copy; 2024 Smart Pump. All rights reserved.</p>
        </div>
    </footer>

    <script src="/src/js/home.js" type="module"></script>
</body>
</html>